* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #205caa;
}

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 60px 30px;
  margin: 0 auto;
  zoom: 1;
  background-color: white;
  border-radius: 25px;
}

.site-main {
  /* border: 1px solid #e8e8e8; */
  padding: 30px 0;
}

.main-heading {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -.5px;
  /* margin-bottom: 15px; */
}

.site-main .column {
  float: left;
  margin-bottom: 15px
}

.main-col-1 {
  width: 270px; /*fallback*/
  width: calc(35% - 10px);
  margin-right: 10px
}
.main-col-2 {
  width: 510px; /*fallback*/
  width: calc(65% - 10px);
  margin-right: 10px
}

.site-main ul {
  list-style: none
}

.site-main li,
.site-main p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.page-content {
  padding: 10px 0;
  background-color: #fff;
}

.profile-image {
   border-radius: 50%;
}

.home h1 { margin-bottom: 25px; }
